@import "../node_modules/font-awesome/css/font-awesome.min.css";

$borderColor:#222;
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#left {
    float: left;
    width: 200px;
    height: 100vh;
    background: #1e1e1e;
    border-right: 1px solid $borderColor;
    overflow:scroll;

    $itemHeight:30px;
    $itemPadding:30px;

    .category {
        .category-titles{
            color: #c8d8dc;
            font-family: arial;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            padding-left: $itemPadding;
        }
    }
    #open-file {

    }
    #open-file-items{
        
        
        .open-file-item{
            height:$itemHeight;
            line-height:$itemHeight;
            color:#606060;
            font-size:12px;
            padding-left:$itemPadding;
            font-family:arial;
            position:relative;

            .open-file-item-close{
                position:absolute;
                left:15px;
                top: 0;
                color:#348392;
                font-family:inherit;
            }
            
            &:hover{
                cursor:default;
                color:white;
            }

            &.active{
                color:#78cac3;
                box-shadow: 3px 0 .01px -.2px #78cac3 inset;
            }                
        }
    }
    #folder {
        #folder-items{
            -webkit-user-select:none;
            font-family:arial;
            font-size:12px;
            .item{
                padding:10px 0 0 15px;
            }
            .closed{
                display:none;
            }
            // 文件夹样式
            .dir{
                &[data-open="true"]{
                    &>.folder-item-title{
                        i,span{
                            color:#80cbc4;
                        }
                    }
                }
                .folder-item-title{
                    white-space: nowrap;
                    i{
                        color:#424242;
                        font-size:18px;
                    }
                    span{
                        padding-left:5px;
                        color:#a8bcc2;
                        vertical-align: top;
                        line-height:18px;
                    }

                    &:hover{
                        cursor:default;
                        i{
                            color:#80cbc4;
                        }
                    }
                } 
            }
            // 文件样式
            .file{
                .folder-item-title{
                    white-space: nowrap;
                    i{
                        color:#907050;
                        font-size:14px;
                    }
                    span{
                        color:#606060;
                        padding-left:5px;
                        vertical-align:top;
                    }

                    &:hover{
                        cursor:default;
                        i {
                            color:#907050;
                            filter:brightness(2);
                        }
                        span{
                            color:white;
                        }
                    }
                } 
            }
        }
    }
}

#right {
    float: left;
    width: calc(100vw - 201px);
    #container {
        height: 100vh;
        width: 100vw;
    }
    .monaco-editor {
        height: 100%;
        width: 100%;
    }
    #titlebar {
        $hoverColor: #80cbc4;

        width: 100%;
        height: 40px;
        background-color: #1e1e1e;
        -webkit-user-select: none;
        user-select: none;
        -webkit-app-region: drag;
        line-height: 40px;
        .title-item {
            max-width: 150px;
            width:30%;
            background: #1e1e1e;
            color: #606060;
            padding-left: 20px;
            font-family: arial;
            font-size: 12px;
            transition: box-shadow .3s ease;
            position:relative;
            float: left;
            &:hover {
                box-shadow: 0 -2px .1px -.1px $hoverColor inset;
                cursor: default;
                background: #141414;
            }
        }
        .item-active{
            box-shadow: 0 -2px .1px -.1px $hoverColor inset;
            color:white;
            .title-item-close{
                color:$hoverColor;
            }
        }
        .title-item-close {
            position:absolute;
            height:40px;
            line-height:40px;
            font-size:12px;
            color:#404040;
            top: 0;
            right: 10px;
            
            &:hover{
                color:$hoverColor;
            }
        }
    }
}

#footerbar {
    width: 100%;
    height: 30px;
    background-color: #1e1e1e;
    color: #53524d;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    border-top: 1px solid $borderColor;
    position: fixed;
    bottom: 0;
    left: 0;
    .footer-base {
        height: 100%;
        float: left;
        margin: 0;
        line-height: 30px;
    }
    #footer-info {
        width: 70vw;
        @extend .footer-base;
    }
    #footer-setting {
        width: 20vw;
        @extend .footer-base;
    }
    #footer-language {
        width: 10vw;
        text-align: center;
        @extend .footer-base;
        &:hover {
            cursor: default;
        }
    }
}

#save {
    background-color: #569CD6;
    
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#save:hover {
    background-color: #76afde;
    cursor: pointer;
}

#langugage-setting {
    border-radius: 5px;
    box-shadow: 0 0 2px;
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20vw;
    background: #DBDBDB;
    ul {
        margin: 0;
        padding: 5px 0;
        list-style: none;
        text-align: left;
        color: black;
        li {
            display: block;
            width: 100%;
            padding: 2px 0 2px 20px;
            &:hover {
                color: white;
                background: #0B61D5;
                cursor: default;
            }
        }
    }
}
